<div class= "container mt-3 text-center" > 
  <h1>My watch lists</h1>

  <ul class="list">
      <% @lists.each do |list| %>
          <div class="d-grid gap-2">
            <li class="watch-list"><%= link_to list.name, list_path(list) %></li>
          </div>
      <% end %>
    </ul>

</div>
